<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex</title>
</head>
<body>
    <header>
        <nav class="nav">
            <h1>Pokédex</h1>
            <ul>
                <li>
                    <form action="/search">
                        <label for="search">Rechercher : </label>
                        <input type="text" name="search" id="search" placeholder="Pikachu...">
                    </form>
                </li>
                <li class="margin"><a href="/">Liste</a></li>
                <li class="margin"><a href="/types">Types</a></li>
            </ul>
        </nav>
    </header>
    <main>